.icon-aside > svg {
  font-size: 50px;
}
.box-content {
  h4 {
    color: $black;
    line-height: 24px;
    font-size: 22px;
  }
  p {
    color: $gray;
    line-height: 20px;
    font-size: 16px;
  }
}

#features {
  padding-top: 120px;
}
