.yellow-hero {
  background: $yellow;
  height: 100%;
  padding-bottom: 80px;

  .hero-img {
    text-align: center;

    @include media-breakpoint-up(lg) {
      text-align: right;
    }
  }
  .content-hero {
    padding-top: 50px;

    @include media-breakpoint-up(lg) {
      padding-top: 75px;
    }
    h1 {
      color: $black;
      font-size: 24pt;
      line-height: 18pt;
      margin-bottom: 23px;
      text-align: center;

      @include media-breakpoint-up(lg) {
        font-size: 32pt;
        text-align: left;
      }
    }

    h2 {
      color: $black;
      font-size: 16pt;
      line-height: 24pt;
      margin-bottom: 28px;
      text-align: center;

      @include media-breakpoint-up(lg) {
        font-size: 20pt;
        text-align: left;
      }
    }

    p {
      color: $black;
      font-size: 14pt;
      line-height: 20pt;
      margin-bottom: 40px;
      text-align: center;

      @include media-breakpoint-up(lg) {
        font-size: 16pt;
        text-align: left;
      }
    }
  }

  .icons-aside {
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
    svg {
      font-size: 42px;
      line-height: 20pt;
      margin: 0 20px;

      @include media-breakpoint-up(lg) {
        margin: 0 39px 0 0;
      }
    }
  }
}
